$purple-light-gradient: radial-gradient(134.39% 128.21% at 50.41% 50%, #994CA5 0%, #030A2F 100%);
$purple-dark-gradient: radial-gradient(128.21% 128.21% at 50% 50%, #E571F6 0%, rgba(196, 196, 196, 0) 100%);
$gray-gradient: radial-gradient(68.93% 67.5% at 49.97% 50%, #6C718E 0%, #4F4F4F 100%);
$main-bg: linear-gradient(113.69deg, #082354 -2.79%, #03092D 33.14%, #030B32 100%);

$purple: #E571F6;
$white: #FEFEFE;