.main {

    padding: 20px 0;

    background-image: url(../../resources/img/gameBg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    &__top {
        display: flex;
        justify-content: end;
        gap: 230px;
    }

    &__bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}