@import './styles/variables.scss';

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background: $main-bg;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
